# dhcp
#DEVICE=mynetworkdevice
#NAME=mynetworkdevice
#ONBOOT=yes
#TYPE=Ethernet
#BOOTPROTO=dhcp
#NM_CONTROLLED=yes
#IPV4_FAILURE_FATAL=yes
#IPV6INIT=yes
#IPV6_AUTOCONF=yes
#IPV6_FAILURE_FATAL=yes
#IPV6_PRIVACY=no
#IPV6_PEERDNS=no
#PEERDNS=no
#DHCPV6C=yes

# static
#TYPE=Ethernet
#PROXY_METHOD=none
#BROWSER_ONLY=no
#BOOTPROTO=static
#DEFROUTE=yes
#PEERDNS=no
#IPV4_FAILURE_FATAL=no
#IPV6INIT=yes
#IPV6_AUTOCONF=yes
#IPV6_DEFROUTE=yes
#IPV6_PEERDNS=no
#IPV6_FAILURE_FATAL=no
#IPV6_ADDR_GEN_MODE=stable-privacy
#NAME=mynetworkdevice
#DEVICE=mynetworkdevice
#ONBOOT=yes
#AUTOCONNECT_PRIORITY=-999
#DHCPV6C=yes
#MTU=9000
#IPADDR=150.230.183.65
#PREFIX=32
#IPADDR1=10.0.0.28
#PREFIX1=24
#GATEWAY=10.0.0.1
#UUID=5fb06bd0-0bb0-7ffb-45f1-d6edd65f3e03
#NM_CONTROLLED=yes
